{% load static %}
<!DOCTYPE html>
<html>

<head>

    <!--    meta tags        -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="keywords" content="">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--    style links        -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <!--    nav_section        -->
       {% include 'partials/nav.html' %}                   
    <!--    header_section        -->
    <header class="header">
        <div class="paragraph-header" >
            <h3 style="margin-bottom: 0px;"> Questions Fréquentes</h3>
            <div class="ligne_main">
                <div class="ligne"></div>
            </div>
            <p>Prenez connaissance des conditions régissant l'utilisation de la plateforme ServicePub</p>
        </div>

    </header>
    <div class="wrapContentListTab">
      
     
        <div class="legal-content">
            
            <h4 class="legal-block titleQuestActivated">
                    <span>
                Qu’est-ce que La platefome Service Publique (ServicePub) ?
                    </span>
        
        
            <div class="showchevronTitleQuestFreq "></div>
            </h4>
            <div class="containerAccordionQuestFreq" style="display: block;">La platefome Service Publique (ServicePub) est un système d’information national qui permet d’enregistrer les ménages souhaitant bénéficier des programmes d’appui social gérés par les administrations publiques, les collectivités territoriales et les organismes de droit public.</div>
            <h4 class="legal-block color_dif bgTitleClose">
                    <span>
                Qui peut s’inscrire au ServicePub ?
                    </span>
        
        
            <div class="showchevronTitleQuestFreq "></div>
            </h4>
            <div class="containerAccordionQuestFreq" style="display:block;">L’inscription au platefome Service Publique (ServicePub) est ouverte à l’ensemble des citoyens et résidents étrangers au Maroc.</div>
            <h4 class="legal-block bgTitleClose">
                    <span>
                Quel est l’intérêt de s’inscrire au ServicePub ?
                    </span>
        
        
            <div class="showchevronTitleQuestFreq "></div>
            </h4>
            <div class="containerAccordionQuestFreq" style="display:block;">L’inscription au platefome Service Publique permet d’attribuer un indice socio-économique  à chaque ménage en se basant sur ses données socio-économiques et de bénéficier, en cas d’éligibilité, des programmes d’appui social en vigueur au Royaume.</div>
            <h4 class="legal-block color_dif bgTitleClose">
                    <span>
                Qu’est-ce qu’un ménage ?
                    </span>
        
        
            <div class="showchevronTitleQuestFreq "></div>
            </h4>
            <div class="containerAccordionQuestFreq" style="display:block;">Un ménage est un ensemble d’individus, apparentés ou non, qui partagent habituellement les mêmes dépenses nécessaires pour satisfaire leurs besoins communs, et cohabitent dans un même logement. Est également assimilé au ménage, la personne qui réside seule.</div>
            <h4 class="legal-block bgTitleClose">
                    <span>
                Qui est le chef de ménage ?
                    </span>
        
        
            <div class="showchevronTitleQuestFreq "></div>
            </h4>
            <div class="containerAccordionQuestFreq" style="display:block;">Le chef de ménage est la personne unique, considérée par les membres du ménage en tant que tel. Elle prend souvent en charge la majorité des dépenses du ménage. Tout ménage doit obligatoirement avoir un chef de ménage.</div>
            <h4 class="legal-block color_dif bgTitleClose">
                    <span>
                Qui est le déclarant du ménage ?
                    </span>
        
        
            <div class="showchevronTitleQuestFreq "></div>
            </h4>
            <div class="containerAccordionQuestFreq" style="display:block;">Le déclarant du ménage est la personne qui se charge de l’inscription du ménage dans le ServicePub, et qui peut être n’importe quel membre adulte du ménage, en particulier la mère, le père, le fils, la fille.</div>
            <h4 class="legal-block bgTitleClose">
                    <span>
                Qu’est-ce que le compte du ménage ?
                    </span>
        
        
            <div class="showchevronTitleQuestFreq "></div>
            </h4>
            <div class="containerAccordionQuestFreq" style="display:block;">Le compte du ménage est un espace électronique qui contient l’ensemble des données relatives au ménage.
         Le compte du ménage est considéré valide quand toutes les informations nécessaires à l’inscription au ServicePub y sont renseignées.
        Un compte valide comprend également l'indice socio-économique du ménage, calculé sur la base des données socio-économiques fiabilisées.</div>
            <h4 class="legal-block color_dif bgTitleClose">
                    <span>
                Quels sont les avantages du compte du ménage ?
                    </span>
        
        
            <div class="showchevronTitleQuestFreq "></div>
            </h4>
            <div class="containerAccordionQuestFreq" style="display:block;">La création du compte offre de nombreux avantages : <br>
        - Inscrire en ligne son ménage au ServicePub sans devoir se déplacer aux centres de services aux citoyens.<br>
        - Accéder aux nombreux services en ligne offerts par le ServicePub.<br>
        - Consulter l'indice socio-économique  ainsi que l’éligibilité du ménage aux programmes d’appui social.</div>
            <h4 class="legal-block bgTitleClose">
                    <span>
                Qu’est-ce qu’un Centre de Services aux Citoyens (CSC) ?
                    </span>
        
        
            <div class="showchevronTitleQuestFreq "></div>
            </h4>
            <div class="containerAccordionQuestFreq" style="display:block;">Le CSC (Centre de Services aux Citoyens) est l’administration en charge d’inscrire les ménages qui ne sont pas en mesure de s’inscrire en ligne. Il est situé au niveau de l’autorité administrative locale dont relève le lieu de résidence du demandeur.
            La liste des CSC est accessible en ligne via notre moteur de recherche ou auprès de votre préfecture locale.</div>
            <h4 class="legal-block color_dif bgTitleClose">
                    <span>
                Qu’est-ce que l'indice socio-économique  du ménage ?
                    </span>
        
        
            <div class="showchevronTitleQuestFreq "></div>
            </h4>
            <div class="containerAccordionQuestFreq" style="display:bloc; margin-bottom:60px;">Chaque ménage inscrit au platefome Service Publique (ServicePub) se voit attribuer un indice socio-économique  calculé en se basant sur ses données socio-économiques, selon une formule mathématique, développée par le Haut-Commissariat au Plan.
        Cette formule se base sur plusieurs variables, telles que la taille du ménage, les dépenses annuelles en eau et en électricité, les biens durables, etc.
        Chaque programme social fixe un seuil d’éligibilité. Tous les ménages dont l'indice socio-économique est inférieur à ce seuil, seront éligibles au dit programme (Ils devront en plus répondre aux éventuels critères spécifiques au programme).</div>
        </div>

          </div>

    <!--    footer_section        -->
       {% include 'partials/footer.html' %} 
       {% include 'partials/chatbot.html' %} 


    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
