{% load static %}
<nav>
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="logo"> 
    </div>
    <div class="nav-list">
        <ul>
            <li><a class="{% if request.resolver_match.url_name == 'citoyen_dashboard' %}active{% endif %}" href="{% url 'citoyen_dashboard' %}">Accueil</a></li>
            <li><a class="{% if request.resolver_match.url_name == 'liste_demandes' or request.resolver_match.url_name == 'detail_demande' %}active{% endif %}" href="{% url 'liste_demandes' %}">Mes Demandes</a></li>
            <li><a class="{% if request.resolver_match.url_name == 'nouvelle_demande' %}active{% endif %}" href="{% url 'nouvelle_demande' %}">Nouvelle Demande</a></li>
            <li><a class="{% if 'reclamation' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'liste_reclamations_citoyen' %}">Réclamations</a></li>
            <li><a class="{% if request.resolver_match.url_name == 'liste_notifications' %}active{% endif %}" href="{% url 'liste_notifications' %}">Notifications</a></li>
            <li><a class="{% if request.resolver_match.url_name == 'profil_citoyen' %}active{% endif %}" href="{% url 'profil_citoyen' %}">Mon Profil</a></li>
        </ul>
    </div>
    <div class="user-menu">
        <div class="notifications">
            <a href="{% url 'liste_notifications' %}" style="color: inherit; text-decoration: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                </svg>
                <span class="notification-count">{{ notifications_count|default:'0' }}</span>
            </a>
        </div>
        <div class="user-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
            <span>{% if request.user.is_authenticated %}{{ request.user.first_name }} {{ request.user.last_name }}{% else %}Citoyen{% endif %}</span>
            <a href="{% url 'deconnexion' %}" style="font-size:0.8em;margin-left:8px;">Déconnexion</a>
        </div>
    </div>
    <div class="list"> <button><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
              </svg></a></button>
    </div>
</nav>
